@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Mate&display=swap');

.detail-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #662549;
    width: 250px;
    height: 480px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #F39F5A;
}

.card-title {
    font-size: 1.5rem;
    color: #F39F5A;
    text-decoration: none;
}

.card-description {
    display: flex;
    height: 150px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

p {
    font-family: 'Mate', serif;
    font-size: 1.2rem;
    color: #F39F5A;
}
.cardButton {
    display: flex;
    background-color: #F1EAFF;
    color: #662549;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 5px;
    font-family: 'Mate', serif;
    font-size: 0.9rem;
    font-weight: bold;
    width: 140px;
    justify-content: center;
    align-items: center;
}
