@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Mate&display=swap');

h2 {
    display: flex;
    justify-content: center;
    color: #662549;
    font-family: 'Mate', serif;
    font-size: 3rem;
}