@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Mate&display=swap');

.cart {
    display: flex;
    align-items: start;
    justify-content: flex-end;
    margin-top: 20px;
}

.link {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.cart-icon {
    color: #662549;
    font-family: 'Mate', serif;
    font-size: 1.6rem;
    padding-right: 10px;
}

.cart-count {
    color: #662549;
    font-family: 'Mate', serif;
    font-size: 1.8rem;
    margin-top: -5px;
}