@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Mate&display=swap');
body {
    font-family: 'Mate', serif;
    background-color: #F1EAFF;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #662549;
    margin-left: 400px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5%;
}

.logo {
    text-decoration: none;
    padding: 8px 16px;
    color: gray;
}

.list-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    list-style: none;
}

.category-button {
    background-color: transparent;
    border: none;
    color: #662549;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.active {
    color: #F39F5A
}

.themeButton {
    background-color: #662549;
    color: #F1EAFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: 'Mate', serif;
    font-size: 0.9rem;
}
